<div class="row downbar">
	<div class="col-3">
		<a href="/" class="active"
			><i class="bi bi-house-door-fill"></i> &nbsp;
			<span class="hideit400">Home</span></a
		>
	</div>
	<div class="col-3">
		<a href="/all_skill_test"
			><i class="bi bi-gem"></i> &nbsp;
			<span class="hideit400">Skill Tests</span></a
		>
	</div>
	<div class="col-3">
		<a
			href="javascript:void(0)"
			data-bs-toggle="modal"
			data-bs-target="#saveModal"
			><i class="bi bi-bookmark"></i> &nbsp;
			<span class="hideit400">Saved</span></a
		>
	</div>
	<div class="col-3">
		<a href="/leaderboard"
			><i class="bi bi-trophy"></i> &nbsp;
			<span class="hideit400">Leaderboard</span></a
		>
	</div>
</div>
