<%- include("../partials/header.ejs") -%>
<link rel="stylesheet" href="../../css/login.css" />
<div class="grid-item loginsidebar">
	<div class="logos mt-5">
		<a href="/"
			><span
				>Qxcel&nbsp;<sup style="font-weight: 500" class="text-red"
					>0.0.1</sup
				></span
			></a
		>
	</div>
	<h2 class="mt-5 heading-2">
		Where <span class="text-red">coding </span><br />
		<span class="text-red">careers</span> are build
	</h2>
	<div class="review">
		<div class="review-img">
			<img src="../../images/reviewer1.png" class="img-fluid" alt="" />
		</div>
	</div>
	<div class="review-text mt-4">
		Qxcel has become indispensable for me. I would recommend Qxcel to anyone at
		any stage of their design career!
	</div>
	<a class="btn btn-lg btn-red-ghost mt-5 px-4" href="/register">
		<i class="bi bi-box-arrow-in-left"></i> &nbsp; Sign Up
	</a>
</div>
<%- include("../partials/footer.ejs") -%>
