<header>
	<h3>Home</h3>
	<div class="menu-box">
		<div class="menu">
			<img src="../images/menu.png" class="img-fluid" alt="" />
		</div>
		<div class="menu-items">
			<p><a href="/public-profile/<%= currentuser %>">Public Profile</a></p>
			<p onclick="location.href='/account-settings'">Account Settings</p>
			<p style="display: flex; justify-content: space-between">
				<span>Dark Mode &nbsp;<span class="pro">Pro</span></span>
				<span><i class="bi bi-moon"></i></span>
			</p>
			<div class="dropdown-divider"></div>
			<p onclick="location.href='/profile-strength'">Profile Strength</p>
			<p onclick="location.href='/logout'">Log Out</p>
		</div>
	</div>
</header>
